<div fxFlex="95%" fxFlex.xs="99%" class="main-container">
    <div fxLayoutAlign="center center">
        <mat-card class="auth-card" *ngIf="!sendLink" fxFlex="35%" fxFlex.md="40%" fxFlex.sm="50%" fxFlex.xs="95%">
            <div class="header-image">
                <img src="assets/logo.png">
            </div>
            <mat-card-title class="main-auth-title ">RECOVER YOUR PASSWORD</mat-card-title>
            <div style="padding:0px 20px">
                <h5 class="error-message">{{message}}</h5>
                <form name="form" #forgotPasswordForm="ngForm" novalidate>
                    <div fxLayout="column">
                        <div fxLayout="column">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="E-mail" name="email" [(ngModel)]="model.email" #email="ngModel" required [pattern]="pattern.email">
                            </mat-form-field>
                            <mat-error *ngIf="formErrors.email">
                                {{ formErrors.email }}
                            </mat-error>
                        </div>
                        <div class="auth-button-alignment">
                            <button [disabled]="!forgotPasswordForm.valid" type="submit" mat-raised-button class="auth-button" (click)="forgotPassword()">SEND RESET LINK</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="auth-button-alignment">
                <a [routerLink]="['/auth/login']"><span class="bottom-text">Go back to login</span></a>
            </div>
        </mat-card>
        <mat-card class="auth-card" fxFlex="30%" fxFlex.xs="95%" *ngIf="sendLink">
            <div class="header-image">
                <mat-icon class="s-96 mat-icon material-icons" role="img" aria-hidden="true">email</mat-icon>
            </div>
            <div style="text-align: center">
                <h3>Recover information !</h3>
                <p>A recovery link has been sent to <span class="bottom-text">{{model.email}}</span>. </p>
                <p>Check your inbox and click on the "Reset password" button to reset your password.</p>
            </div>
            <div class="auth-button-alignment">
                <a [routerLink]="['/auth/login']"><span class="bottom-text">Go back to login page</span></a>
            </div>
        </mat-card>
    </div>
</div>