<div fxFlex="95%" fxFlex.xs="99%" class="main-container">
    <div fxLayoutAlign="center center">
        <mat-card class="auth-card" fxFlex="35%" fxFlex.md="30%" fxFlex.sm="40%" fxFlex.xs="95%" *ngIf="!success">
            <div class="header-image">
                <img src="assets/logo.png"> </div>
            <mat-card-title class="main-auth-title">RESET YOUR PASSWORD</mat-card-title>
            <div style="padding:0px 20px">
                <h5 class="error-message" *ngIf="error">{{message}}</h5>
                <form name="form" #resetForm="ngForm" novalidate>
                    <div fxLayout="column">
                        <div fxLayout="column">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="E-mail" name="email" [(ngModel)]="model.email" #email="ngModel" required [pattern]="pattern.email" readonly>
                            </mat-form-field>
                            <mat-error *ngIf="formErrors.email">
                                {{ formErrors.email }}
                            </mat-error>
                        </div>
                        <div fxLayout="column">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required [pattern]="pattern.password"> </mat-form-field>
                            <mat-error *ngIf="formErrors.password">
                                {{ formErrors.password }}
                            </mat-error>
                        </div>
                        <div fxLayout="column">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Confirm Password" type="password" name="cPassword" [(ngModel)]="model.cPassword" #cPassword="ngModel" required [pattern]="pattern.password">
                            </mat-form-field>
                            <mat-error *ngIf="formErrors.cPassword">
                                {{ formErrors.cPassword }}
                            </mat-error>
                        </div>

                        <div class="reset-password-button">
                            <button [disabled]="!resetForm.valid || !passwordConfPassMatch" type="submit" mat-raised-button class="auth-button" (click)="resetPassword()">RESET MY PASSWORD</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="auth-button-alignment">
                <a [routerLink]="['/profile']"><span class="bottom-text">Go back</span></a>
            </div>
        </mat-card>
        <mat-card class="auth-card" fxFlex="35%" fxFlex.md="30%" fxFlex.sm="40%" fxFlex.xs="95%" *ngIf="success">
            <div class="header-image">
                <mat-icon class="s-96 mat-icon material-icons" role="img" aria-hidden="true">check_box</mat-icon>
            </div>
            <div style="text-align: center">
                <h3>Reset successfully!</h3>
            </div>
            <div style="text-align: center">
                <a (click)="signOut()"><span class="bottom-text">Go back to login page</span></a>
            </div>
        </mat-card>
    </div>
</div>